<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jovian Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body> 
    <div class="container">
      <h1 class="text-center mt-4 mb-4">Jovian CAREERS</h1>
      <img class="img-fluid" id="image1" src="https://jovian-careers-website--shrutibist01.repl.co/static/baner.jpg" height="350px" width="100%">
      <h2 class="text-center mt-4 mb-4">About Jovian</h2>
      <p id="body">Jovian is a leading online platform that connects engineering professionals with a wide range of job opportunities across diverse engineering fields. Our website serves as a comprehensive hub for engineers seeking rewarding career paths, providing a user-friendly interface, personalized job alerts, and valuable resources for career development. With a focus on precision and excellence, Jovian collaborates with top engineering firms to bring you the best opportunities in the field. Join our thriving engineering community and embark on your journey to a fulfilling engineering career with Jovian.</p>
      <br>
      <h2 class="text-center mt-4 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <br><br>
      <footer style="text-align: center;">
        Copyright 2023 Jovian
      </footer>      
    </div>
  </body>
</html>